body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* banner */
.post-header {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-image {
  margin-left: -40%;
  width: 170%;
  height: 100%;
}

.window-background {
  animation: background-color 20s cubic-bezier(.81,-0.46,.19,1.33) infinite;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: -1;
}

@keyframes background-color {
  0% {
  background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}

/* terminal */
.fake-terminal {
  display: inline-block;
  position: absolute;
  top: 43%;
  width: 58%;
  height: 26%;
  z-index: 1;
  left: 20%;
}

.fake-buttons {
  height: 60%;
  width: 4%;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 1.3%;
  margin-left: 2%;
  position: relative;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fake-menu {
  display: flex;
  box-sizing: border-box;
  height: 10%;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fake-screen {
  height: 90%;
  background-color: #151515;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fake-screen > p {
  position: relative;
  top: 12%;
  left: 3%;
  margin: 0 0 3%;
  text-align: left;
  font-size: 3.1vw;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
} 

.fake-minimize {
  background-color: #ffc100;
  border-color: #9d802c;
}

.fake-zoom {
  background-color: #00d742;
  border-color: #049931;
}

.fake-screen span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .9s 1s steps(20, end) forwards;
  -moz-animation: type .9s 1s steps(20, end) forwards;
  -o-animation: type .9s 1s steps(20, end) forwards;
  animation: type .9s 1s steps(20, end) forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .9s 2.5s steps(20, end) forwards;
  -moz-animation: type .9s 2.5s steps(20, end) forwards;
  -o-animation: type .9s 2.5s steps(20, end) forwards;
  animation: type .9s 2.5s steps(20, end) forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .9s 4s steps(20, end) forwards;
  -moz-animation: type .9s 4s steps(20, end) forwards;
  -o-animation: type .9s 4s steps(20, end) forwards;
  animation: type .9s 4s steps(20, end) forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .9s 5.5s steps(20, end) forwards;
  -moz-animation: type .9s 5.5s steps(20, end) forwards;
  -o-animation: type .9s 5.5s steps(20, end) forwards;
  animation: type .9s 5.5s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 7s infinite;
  -moz-animation: blink 1s 7s infinite;
  -o-animation: blink 1s 7s infinite;
  animation: blink 1s 7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

/* about */
.about {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.section-h {
  text-align: center;
  font-size: 6vw;
  color: #252627;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.section-h:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 40vw; /* Change this to whatever width you want. */
  padding-top: .5vh;
  border-bottom: .5vw solid #1FB596;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-container {
  display: block;
  margin-bottom: 1vw;
}

.avatar {
  border-radius: 50%;
  width: 33.33vw;
  margin-bottom: 2vw;
}

.about-message {
  text-align: center;
  font-size: 3vw;
  color: #252627;
}

.badge-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1em;
}

.badge-icon {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 13vw;
}

.badge-label {
  font-size: 3vw;
  color: #252627;
}

.icon-reactjs {
  color: #26DFFF;
}

.icon-ruby-on-rails-alt {
  color: red;
}

.icon-html5 {
  color: orange;
}

.icon-css3 {
  color: #0075C0;
}

.icon-javascript {
  position: relative;
  left: 5%;
  color: #F0E03F;
}

.icon-ruby {
  color: red;
}

.icon-jquery {
  color: #0065A1;
}

.icon-sass {
  color: #DC5198;
}

.icon-react-native {
  color: #4d4d4d;
}

.icon-rspec {
  width: 14vw;
  padding-top: 12%;
  padding-bottom: 20%;
}

.icon-webpack {
  padding-top: 18%;
  padding-bottom: 25%;
}

.icon-postgres {
  color: #286693;
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  justify-content: center;
  display: flex;
  width: 90vw;
  height: 55.62vw;
  margin-bottom: 2vh;
}

.description {
  /* display: none; */
  position: absolute;
  z-index: 4;
}

.overlay {
  position: absolute;
  width: 90vw;
  height: 55.62vw;
  border-radius: 3vw; 
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
}

.caption {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  position: absolute;
  width: 90vw;
  height: 55.62vw;
  border-radius: 3vw; 
  background-color: #293248;
  color: white;
  z-index: -1;
}

.caption-text {
  font-size: 4.5vw;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 4%;
}

.project-link {
  font-size: 4.5vw;
  text-decoration: none;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: .3vw solid #1FB596;
  padding: .5vw 3vw .8vw 3vw;;
  border-radius: 4vw;
}

.project-link:hover {
  color: white;
  background: #1FB596;
  cursor: pointer;
  text-decoration: none;
}

.fadeIn {
  animation: fadeIn .6s ease-in-out forwards;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeOut {
  animation: fadeOut .6s ease-in-out forwards;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.project-title {
  position: absolute;
  margin-top: 23%;
  font-size: 9vw;
  color: white;
  z-index: 3;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 3vw; 
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  height: 16vw;;
  margin-left: 5vw;
  background-color: rgb(50, 50, 50);
  border-radius: 2vw;
}

.social {
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
}

.fa {
  font-size: 6vw;
  color: #1FB596;
}

.fa:hover {
  font-size: 7vw;
  cursor: pointer;
}

.fa-copyright, .copyright {
  text-align: center;
  color: white;
  font-size: 2vw;
  margin: 0 0 .7vw;
}

.fa-copyright:hover {
  font-size: 2vw;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .hero-image {
    width: 85%;
    height: 100%;
    margin-left: 7.5%;
  }

  .section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #23bda0;
    z-index: -2;
  }

  .window-background {
    left: 12.5%;
  }

  /* terminal */
  .fake-terminal {
    width: 30%;
    left: 36.9%;
  }
  
  .fake-screen > p {
    font-size: 1.6vw;
  }
}

@media only screen and (min-width: 1024px) {
  .avatar {
    width: 16vw;
  }

  .about-message {
    font-size: 2vw;
  }

  .section-h {
    font-size: 4vw;
  }

  .badge-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  i {
    font-size: 4vw;
  }

  .icon-rspec {
    width: 4vw;
    padding-bottom: 20%;
  }

  .icon-webpack {
    padding-top: 10%;
    padding-bottom: 12%;
  }

  .badge-label {
    font-size: 2vw;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .project-container, .overlay, .caption {
    width: 44vw;
    height: 27.19vw;
  }

  .project-title {
    margin-top: 12.5%;
    font-size: 5vw;
  }

  .caption-text, .project-link{
    font-size: 2vw;
  }

}