/* banner */
.post-header {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-image {
  margin-left: -40%;
  width: 170%;
  height: 100%;
}

.window-background {
  animation: background-color 20s cubic-bezier(.81,-0.46,.19,1.33) infinite;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: -1;
}

@keyframes background-color {
  0% {
  background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}

/* terminal */
.fake-terminal {
  display: inline-block;
  position: absolute;
  top: 43%;
  width: 58%;
  height: 26%;
  z-index: 1;
  left: 20%;
}

.fake-buttons {
  height: 60%;
  width: 4%;
  border-radius: 50%;
  border: 1px solid #000;
  margin-top: 1.3%;
  margin-left: 2%;
  position: relative;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fake-menu {
  display: flex;
  box-sizing: border-box;
  height: 10%;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fake-screen {
  height: 90%;
  background-color: #151515;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fake-screen > p {
  position: relative;
  top: 12%;
  left: 3%;
  margin: 0 0 3%;
  text-align: left;
  font-size: 3.1vw;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
} 

@media only screen and (min-width: 768px) {
  .hero-image {
    width: 85%;
    height: 100%;
    margin-left: 7.5%;
  }

  .section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #23bda0;
    z-index: -2;
  }

  .window-background {
    left: 12.5%;
  }

  /* terminal */
  .fake-terminal {
    width: 30%;
    left: 36.9%;
  }
  
  .fake-screen > p {
    font-size: 1.6vw;
  }
}



.fake-minimize {
  background-color: #ffc100;
  border-color: #9d802c;
}

.fake-zoom {
  background-color: #00d742;
  border-color: #049931;
}

.fake-screen span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #9CD9F0;
  -webkit-animation: type .9s 1s steps(20, end) forwards;
  -moz-animation: type .9s 1s steps(20, end) forwards;
  -o-animation: type .9s 1s steps(20, end) forwards;
  animation: type .9s 1s steps(20, end) forwards;
}

.line2 {
  color: #CDEE69;
  -webkit-animation: type .9s 2.5s steps(20, end) forwards;
  -moz-animation: type .9s 2.5s steps(20, end) forwards;
  -o-animation: type .9s 2.5s steps(20, end) forwards;
  animation: type .9s 2.5s steps(20, end) forwards;
}

.line3 {
  color: #E09690;
  -webkit-animation: type .9s 4s steps(20, end) forwards;
  -moz-animation: type .9s 4s steps(20, end) forwards;
  -o-animation: type .9s 4s steps(20, end) forwards;
  animation: type .9s 4s steps(20, end) forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .9s 5.5s steps(20, end) forwards;
  -moz-animation: type .9s 5.5s steps(20, end) forwards;
  -o-animation: type .9s 5.5s steps(20, end) forwards;
  animation: type .9s 5.5s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 7s infinite;
  -moz-animation: blink 1s 7s infinite;
  -o-animation: blink 1s 7s infinite;
  animation: blink 1s 7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

/* about */
.about {
  width: 100vw;
}

.avatar-container {
  display: block;
}

.avatar {
  border-radius: 50%;
  width: 25vw;
}

.badge-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;
}

.badge-icon {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 10vw;
}

.badge-label {
  font-size: 3vw;
}

.icon-reactjs {
  color: #26DFFF;
}

.icon-ruby-on-rails-alt {
  color: red;
}

.icon-html5 {
  color: orange;
}

.icon-css3 {
  color: #0075C0;
}

.icon-javascript {
  position: relative;
  left: 5%;
  color: #F0E03F;
}

.icon-ruby {
  color: red;
}

.icon-jquery {
  color: #0065A1;
}

.icon-sass {
  color: #DC5198;
}

.icon-react-native {
  color: #4d4d4d;
}

.icon-git {
  color: #DC5198;
}

.icon-npm {
  color: #E60000;
}

.icon-postgres {
  color: #286693;
}

/* Projects */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 90vw;
  height: 46vh;
  margin-bottom: 4vh;
  /* box-shadow: 5px 10px 8px #888888; */
}

.overlay {
  position: absolute;
  width: 90vw;
  height: 46vh;
  border-radius: 4vw; 
  z-index: 2;
}

.overlay-artis {
  background-color: rgba(0, 75, 30, 0.65);
}

.overlay-wunderlist {
  background-color: rgba(25, 10, 0, 0.65);
}

.overlay-brain {
  background-color: rgba(0, 85, 99, 0.65);
}

.overlay-leather {
  background-color: rgba(33, 30, 0, 0.65);
}

.project-title {
  position: absolute;
  color: white;
  z-index: 3;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 4vw; 
}